.container {
    display : flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    flex-wrap : wrap;
    gap : 5px;
    .chat-window {
        height : 600px;
        width : 630px;
        max-height : 98%;
        max-width : 98%;
        background: url(../../assets/background.svg);
        background-size: cover;
        border-radius : 5px;
        margin : 10px;
        padding : 10px;
        position : relative;

        display: flex;
        flex-direction: column;
        gap : 10%;
        .messages {
            display: flex;
            flex-direction: column;
            height : 80%;
            overflow: auto;
            padding : 0px 15px;
            overscroll-behavior : contain;
            .user, .bot {
                border-radius: 10px;
                max-width : 90%;
                margin : 5px 0px;
                padding : 10px;
            }
            
            .user {
                align-self: flex-end;
                background-color: var(--teal-400);
                color : var(--primary-color-text);
                animation : fadeInRight 500ms, bubbleRight 400ms;
            }
            .bot {
                align-self: flex-start;
                background-color: var(--gray-600);
                animation : fadeInLeft 500ms, bubbleLeft 400ms;
            };

            .dots {
                margin : 5px 0px;
                padding : 5px;
                display: flex;
                gap : 3px;
                .dot {    
                    color : var(--text-color);
                    animation: jump 750ms infinite;
                    animation-delay : calc(100ms * var(--delay));
                    i {
                        font-size : 0.6rem;
                    }
                }
            }
        }
    };

    .bot-info {
        margin : 10px;
        padding-top : 10px;
        border-radius: 5px;
        width : 550px;
        height : 600px;
        max-width : 98%;
        max-height : 98%;
        border-left : 2px var(--surface-50) solid;
    }
}

.footer {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 10px;
    hr {
        width : 250px;
    }

    .links {
        display : flex;
        flex-direction: row;
        justify-content: center;
        gap : 10px;
    }

}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20%);
    }
    
}



