<div class="container">
    <div [class]="'chat-window ' + botType">
        <div #window class="messages">
            <div *ngFor="let msg of messages" [class]="msg.type">
                {{msg.content}}
            </div>
            <div class="dots" [hidden]="!messageSent">
                <span *ngFor="let i of [1, 2, 3]" class="dot" style="--delay : {{i}}"> <i class="pi pi-circle-fill"></i></span>
            </div>

        </div>

        <div class="input-text">
            <form [formGroup]="userInputForm" (ngSubmit)="onSent()">
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="type here..." formControlName="inputText" [autofocus]="true"/>
                    <button type="submit" pButton pRipple icon="pi pi-check" class="p-button-info" [disabled]="userInputForm.invalid"></button>
                </div>
            </form>
        </div>
    </div>
    <p-button label="Exit conversation" styleClass="p-button-rounded p-button-danger" (onClick)="navigateBack()"></p-button>
    
</div>
