<div class="container">
    <div class="chat-window animate__animated animate__fadeInLeft">
        <div #messsageWindow class="messages">
            <div *ngFor="let msg of messages" [class]="msg.type">
                {{msg.content}}
            </div>
            <div class="dots" [hidden]="!messageSent">
                <span *ngFor="let i of [1, 2, 3]" class="dot" style="--delay : {{i}}"> <i class="pi pi-circle-fill"></i></span>
            </div>
            
        </div>
        <div class="input-text">
            <form [formGroup]="userInputForm" (ngSubmit)="onSent()">
                <div class="p-inputgroup">
                    <input type="text" pInputText placeholder="type here..." formControlName="inputText" [autofocus]="true"/>
                    <button type="submit" pButton pRipple icon="pi pi-check" class="p-button-info" [disabled]="userInputForm.invalid"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="bot-info animate__animated animate__fadeInRight" *ngIf="screenWidth >= 1400">
        <p-scrollPanel [style]="{width : '550px', height : '600px', 'max-width' : '98%', 'max-height' : '98%'}" >
            <app-bot-info [botType]="botType"></app-bot-info>
        </p-scrollPanel>
    </div>
    <div *ngIf="screenWidth < 1400">
        <p-button label="Model Information" styleClass="p-button-text p-button-info" (onClick)="onShow()"></p-button>
    </div>
</div>
<div class="footer">
    <hr>
    <div class="links">
        <p-button label="Exit conversation" styleClass="p-button-rounded p-button-help animate__animated animate__fadeInLeft" (onClick)="navigateBack()"></p-button>
        <p-button label="LogOut" styleClass="p-button-rounded p-button-danger animate__animated animate__fadeInRight" (onClick)="logout()"></p-button>
    </div>
</div>

<p-dialog header="Long Content" [(visible)]="showDialog" [style]="{ width: '80%', height: '80%' }">
    <app-bot-info [botType]="botType"></app-bot-info>
</p-dialog>
