.container {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 5px;

    .chat-window {
        &.gpt {
            height : 550px;
            width : 400px;
            .user, .bot {
                border-radius: 10px;
                max-width : 70%;
                margin : 5px 0px;
                padding : 10px;
            }
            
            .user {
                align-self: flex-end;
                background-color: var(--teal-400);
                color : var(--primary-color-text);
                animation : fadeInRight 500ms, bubbleRight 400ms;
            }
            .bot {
                align-self: flex-start;
                background-color: var(--gray-800);
                animation : fadeInLeft 500ms, bubbleLeft 400ms;
            };

            .dots {
                margin : 5px 0px;
                padding : 5px;
            }
        }
        &.t5 {
            height : 600px;
            width : 1200px;
            .user, .bot {
                padding : 10px 200px;
                border-radius: 5px;
                margin : 5px 0px;
                animation: fadeInDown 500ms, bubbleDown 400ms;
            }
            .user {
                background-color: var(--gray-400);
                color : var(--primary-color-text);
            }
            .bot {
                background-color: var(--gray-800);
            }
            .dots {
                margin : 5px 0px;
                padding : 10px 200px;
            }
        }

        &.gpt, &.t5 {
            max-height : 98%;
            max-width : 98%;
            background-color: var(--surface-100);
            // background: url(../../assets/polygon-scatter-haikei.svg);
            background-size: cover;
            border-radius : 5px;
            margin : 20px;
            padding : 20px;
            .messages {
                display: flex;
                flex-direction: column;
                height : 90%;
                overflow: auto;
                padding : 0px 15px;
                
                .dots {
                    display: flex;
                    gap : 3px;
                    .dot {    
                        color : var(--text-color);
                        animation: jump 750ms infinite;
                        animation-delay : calc(100ms * var(--delay));
                        i {
                            font-size : 0.6rem;
                        }
                    }
                }
    
            }
        }
        
    };




}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20%);
    }
    
}


