.login-form {
    display : flex;
    flex-direction : column;
    gap : 30px;
    align-items: center;
    justify-content: center;
    height : 90%;
    margin-top : 50px;
}

.register-route {
    height : 10%;
}