<div class="title">
  <h2 class="main-title">CHIT-CHAT</h2>
  <h6 class="sub-title"> {{subHeading}}</h6>
</div>


<div class="container">
  <hr>
    <router-outlet #outlet = outlet></router-outlet>
  <hr>
</div>
<footer>
  <div class="mt-3 text-center">
      About Me
  </div>
  <div class="m-3">
      <p-toolbar>
          <div class="p-toolbar-group-start">
          </div>
          <div class="p-toolbar-group-center about-links">
            <a pButton pRipple href="https://www.linkedin.com/in/diljith-p-dileep-815716250" target="_blank" icon="pi pi-linkedin" class="mr-2" style="--delay : 0;"></a>
            <a pButton pRipple href="https://github.com/th3bossc" target="_blank" icon="pi pi-github" class="p-button-success mr-2" style="--delay : 1;"></a>
            <a pButton pRipple href="mailto:diljith2003@gmail.com" target="_blank" icon="pi pi-send" class="p-button-danger mr-2" style="--delay : 2;"></a>
            <a pButton pRipple href="http://myprojects--diljithdileep.repl.co/" target="_blank" icon="pi pi-link" class="p-button-help" style="--delay : 3;"></a>
          </div>
          <div class="p-toolbar-group-end">
          </div>
      </p-toolbar>
  </div>
</footer>