<div class="title">
  <h2 class="main-title">CHIT-CHAT</h2>
  <h6 class="sub-title"> {{subHeading}}</h6>
</div>


<div class="container">
  <hr>
    <router-outlet #outlet = outlet></router-outlet>
  <hr>
</div>
<footer>
  <div class="mt-3 text-center">
      About Me
  </div>
  <div class="m-3">
      <p-toolbar>
          <div class="p-toolbar-group-start">
          </div>
          <div class="p-toolbar-group-center">
            <p-button icon="pi pi-search" class="mr-2"></p-button>
            <p-button icon="pi pi-calendar" styleClass="p-button-success mr-2"></p-button>
            <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
          </div>
          <div class="p-toolbar-group-end">
          </div>
      </p-toolbar>
  </div>
</footer>