<p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
<div class="container">
    <div class="animate" style="--delay : 0;">
        <p-button styleClass="p-button-primary" label="Simple Conversational Bot" (onClick)="dumbBotInfo()"></p-button>
    </div>
    <div class="animate" style="--delay : 1">
        <p-button styleClass="p-button-secondary" label="Complex multi-task Bot" (onClick)="smartBotInfo()"></p-button>
    </div>
</div>
<div class="log-out">
    <hr>
    <p-button styleClass="p-button-danger p-button-rounded" label="LogOut" (onClick)="logout()"></p-button>
</div>