.container {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 10px;
    margin: 150px 0px;

    .animate {
        opacity : 0;
        animation : fadeInDown forwards;
        animation-duration : 200ms;
        animation-delay : calc(var(--delay)*200ms);
    }
}

.log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    hr {
        width : 100px;
    }
}