.login-route {
    height : 10%;
}
.register-form {
    margin-top : 50px;
    height : 90%;
    display : flex;
    align-items: center;
    justify-content: center;
    gap : 30px;
    flex-direction: column;

    .name-email {
        display : flex;
        align-items: center;
        justify-content: center;
        gap : 10px;
        flex-direction: row;
        flex-wrap: wrap;
        .p-inputgroup {
            width: 100%;
        }
    }


    .passwords {
        display: flex;
        flex-direction : row;
        gap : 10px;
        flex-wrap : nowrap;
    }
}

